* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 30px;
  display: flex;
}

.trybewarts-login {
  display: flex;
}

form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.nome-sobrenome {
  display: flex;
}
