/* resetando css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* estilo do requisito 1 */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

/* Requisito 3 */
.trybewarts-login {
  display: flex;
  justify-content: space-between;
  min-width: 450px;
  margin-right: 50px;
}

/* estilo do logo do requesito 2 */
.trybewarts-header-logo {
  align-self: flex-start;
  width: 40px;
  height: 40px;
}

/* estilo do requisito 4 */
#trybewarts-header-title {
  text-align: center;
}

/* estilo do requisito 5 e 6 */
.flex-container {
  display: flex;
}

.form-size {
  justify-self: flex-start;
  align-self: center;
  width: 675px;
  flex-direction: column;
}

/* tamanho da logo (requisito 7) */
#trybewarts-forms-logo {
  height: 500px;
}

/* Alinhamento horizontal requisito 10 */
.input-name-lastname {
  display: flex;
}
