@font-face {
  font-family: Domine-Bold;
  src: url('assets/Domine-Bold.ttf');
}

@font-face {
  font-family: Domine-Regular;
  src: url('assets/Domine-Regular.ttf');
}

@font-face {
  font-family: Domine-SemiBold;
  src: url('assets/Domine-SemiBold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

#reset-body {
  background-color: rgb(244, 244, 237);
}

header {
  background-color: rgb(50, 167, 145);
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 100px;
}

.trybewarts-header-logo {
  height: calc(100% - 5px);
}

#trybewarts-header-title {
  color: white;
  font-family: Domine-Bold, serif;
  font-size: 32px;
  margin-top: 6px;
  text-shadow: 3px 3px 5px rgba(221, 221, 221, 0.5);
}

.trybewarts-login {
  display: flex;
  width: 35.5%;
}

#input-login , #input-password {
  margin-right: 1em;
}

#login-btn {
  color: whitesmoke;
  background-color: rgb(26, 83, 92);
  opacity: 90%;
}

#login-btn:hover {
  opacity: 100%;
}

main {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#evaluation-form {
  background-color: rgb(240, 240, 230);
  border: 1px solid rgb(207, 198, 180);
  display: flex;
  width: 675px;
  margin: 50px 0;
  flex-flow: column nowrap;
}

#trybewarts-forms-logo {
  height: 500px;
}